*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:Arial, Helvetica, sans-serif; 
  background-color: #222222;
  color: #fff;
}

a{
  text-decoration: none;
}


.container {
  overflow: auto;
  margin: 0px auto;
  max-width: 960px;
  padding: 0px 10px;
}
.container li {
  float: right;
  list-style: none; 
  margin: 0px 15px;
  
}
.container li a {
  display: block;
  color: #fff;
  padding: 20px 15px 25px 15px;
   
}
.container li a:hover {
  background-color: #545557;
  color: #e4aa52;
}
.logo {
  float: left;
  margin: 15px 0px 20px 20px;
  
}
.logo a{
  color: #fff;
  
}
.current {
  background-color: #545557;
  color: #e4aa52 !important;
}
#showcase {
  background: url('/img/showcase.jpg') no-repeat center center/cover;
  height: 600px; 
  text-align: center;
}

.showcase-content {
  margin: 200px auto;
  max-width: 960px;
}
.showcase-content h1 {
  font-size: 60px;
  margin-bottom: 30px;
}
.título {
  font-size: 60px;
  color:#e4aa52;
  margin-right: 10px;
}
.showcase-content p {
  font-size: 20px;
  margin: 20px 0px;
}
.btn {
  margin-top: 40px;
  font-size: 20px;
}
.btn a {
  padding: 15px;
  background-color: #32312f;
  color:#fff
}
.btn a:hover{
  background-color: #e4aa52;
  color:#32312f;
}
img {
  display: block;
  margin: auto;
  float: left;
  width: 50%; 
  height: 400px;
}
.box {
  float: right;
  width: 50%;   
  height: 400px;
  box-sizing: border-box;
  background: #32312f;
  padding: 30px;
}